body {
    margin: 0;
}

#footer {
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #333;
}

#header {
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #333;
}

#content {
    margin: 60px;
}

.category {
    display: grid;
    grid-template-columns: repeat(auto-fill, 125px);
    grid-template-rows: auto;
    border-style: solid;
    border-color: red;
}