.img {
    position: absolute;
    top: 5px;
    left: 25px;
}

.headline {
    position: absolute;
    top: 0px;
    left: 135px;
    width: 500px;
}

.description {
    position: absolute;
    top: 80px;
    left: 135px;
    width: 500px;
}

.year {
    position: absolute;
    top: 90px;
    left: 135px;
    width: 500px;
}