#series
    %img{alt: '', src: 'images/placeholder1.png'}
    %img{alt: '', src: 'images/placeholder1.png'}
    %img{alt: '', src: 'images/placeholder1.png'}
    %img{alt: '', src: 'images/placeholder1.png'}
    %img{alt: '', src: 'images/placeholder1.png'}
